@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define your theme

// Include theme styles for components

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

// Your custom component overrides should go after the theme includes